services:
  php:
    build: .
    container_name: symfony_php
    ports:
      - "80:80"
    volumes:
      - ./app:/var/www/html
      - ./config/apache.conf:/etc/apache2/sites-available/000-default.conf
    networks:
      - symfony

  mysql:
    image: mariadb:11
    container_name: symfony_mysql
    environment:
      MYSQL_DATABASE: symfony
      MYSQL_USER: symfony
      MYSQL_PASSWORD: symfony
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - symfony

  redis:
    image: redis:alpine
    container_name: symfony_redis
    ports:
      - "6379:6379"
    networks:
      - symfony

networks:
  symfony:
    driver: bridge

volumes:
  mysql_data:
