nelmio_api_doc:
    documentation:
        info:
            title: Symfony API CRM
            description: API documentation for Symfony CRM
            version: 1.0.0
        components:
            securitySchemes:
                bearerAuth:
                    type: http
                    scheme: bearer
                    bearerFormat: JWT
    areas:
        path_patterns:
            - ^/api(?!/doc$)
